@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@page "/contact"

<h2>Contact Us</h2>

<form method="post" @onsubmit="HandleSubmit" @formname="contact-form">
    <AntiforgeryToken />
    <label for="name">Your Name</label>
    <input type="text" id="name" placeholder="Enter your name" @bind="name" required />

    <label for="email">Your Email</label>
    <input type="email" id="email" placeholder="Enter your email" @bind="email" required />

    <label for="message">Your Message</label>
    <textarea id="message" placeholder="Enter your message" rows="4" @bind="message" required></textarea>

    <button type="submit">Submit</button>
</form>
@if (conf){
 <h3 class="confirm-h3">Confirmed! Thank you!</h3>
}
@code {
    private string? name;
    private string? email;
    private string? message;
    private bool conf = false;

    private void HandleSubmit()
    {
        conf = true;
        name = string.Empty;
        email = string.Empty;
        message = string.Empty;
    }
}

